@page "/checkout"
@using System.Globalization;
@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
<AuthorizeView>
<div class="row my-5 justify-content-center">
    <div class="col col-xl-10">
        <h3><b>Checkout</b></h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-xl-5">
        @if (ShoppingCartItems != null)
                {
                    @if (ShoppingCartItems?.Count() > 0)
                    {
                        <div class="mb-5 payment-method">
                            <h6 class="mb-3 fw-bold">Payment Method</h6>
                            <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
                                <div>
                                    @* <button type="submit" id = "start-payment-button" form="address-select" class="address-select">
                        <div class="paystack-logo">
                            Pay with&nbsp;
                            <img src="/Images/flw.png" alt="" width="100" />
                        </div>
                    </button> *@
                                    @* Your order is N2,000 *@
                                </div>
                                <input type="hidden" name="public_key" value="FLWPUBK_TEST-867ad0ba1c857bacda89db06983b908b-X" />
                                <input type="hidden" name="customer[email]" value="@context.User.Identity!.Name" />
                                <input type="hidden" name="customer[name]" value="Ayomide Jimi-Oni" />
                                <input type="hidden" name="tx_ref" value="@PaymentAmount" />
                                <input type="hidden" name="amount" value="@PaymentAmount" />
                                <input type="hidden" name="currency" value="NGN" />
                                <input type="hidden" name="meta[source]" value="docs-html-test" />
                                <br>
                                <button type="submit" id="start-payment-button">Pay with Flutterwave</button>
                            </form>
                        </div>
                    }
                }
                <div class="mb-5 delivery-address">
            <div class="col-8">
                @if (ShowAddressForm == false)
                {
                        <select @bind="@deliveryAddress" class="form-select">
                            <option value="">Select address ...</option>
                            <option>Opposite Babrite Shopping Complex</option>
                            <option>Main gate</option>
                            <option>Behind Cafeteria</option>
                        </select>
                        <button type="button" class="btn btn-dark mt-4" @onclick="() => ShowAddressForm = true">
                            <i class="fa-solid fa-circle-plus"></i>
                            Add address
                        </button>
                }
                else
                {
                        <input type="text" @bind="newAddress" id="address" placeholder="Enter delivery address" class="form-control" />
                        <select @bind="newAddress" class="form-select mt-3" id="city">
                            <option value="">Select city ...</option>
                            <option value="Ibadan">Ogun</option>
                        </select>
                        <div class="btn-wrapper mt-4">
                            <a class="app-link me-1" @onclick="() => ShowAddressForm = false">Go Back</a>
                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                        </div>
                }
            </div>

        </div>
    </div>
@if (ShoppingCartItems == null)
{
        <p>Loading...</p>
    }
    else
    {
        <div class="col-md-6">
            <h4 class="mb-2">Payment Summary</h4>
            @if (ShoppingCartItems.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in ShoppingCartItems)
                        {
                            <tr>
                                <td>@item.QuantityInCart x @item.Product.Name</td>
                                <td>@item.Product.Price.ToString("C", new CultureInfo("HA-LATN-NG"))</td>
                            </tr>
                        }
                        <tr>
                            <td><b>Total</b></td>
                            <td><b>@PaymentAmount.ToString("C", new CultureInfo("HA-LATN-NG"))</b></td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>You currently have no items in your shopping cart</p>
            }
        </div>
}
</div>
    </AuthorizeView>
</CascadingAuthenticationState>